<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!--WEB RESPONSIVE-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!--CSS SYLESHEET-->
    <link href="css/home.css" rel="stylesheet">
    <!--CSS ICONS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <title>Mercadoliebre By Daniela Videla</title>
</head>
<body>
    
    <header>
            <div class="logo">
                <a href="views/home.html"><img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre"></a>
            </div>
            <nav bar="search-bar">
                    Lugar para poner la barra de búsqueda<i class="fa-solid fa-magnifying-glass"></i>
            </nav>
            <navbar class="nav-bar">
                <ul>
                    <li><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</li>  
                    <li>Barra de navegación que posea las siguientes opciones:</li>
                        <ul>
                            <li><a href="">Ofertas</a></li>
                            <li><a href="">Tiendas Oficiales</a></li>
                            <li><a href="">Vender</a></li>
                            <li><a href="">Ayuda</a></li>
                        </ul>
                </ul>
            </navbar>        
            <navbar class="login-bar"> 
                <ul>
                    <li><a href="">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></i>
                    <li><a href="">Ingresar<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </navbar>
             <div class="burger-menu">
                <i class="fa-solid fa-align-justify"></i>
            </div>
                <div clas="home-banner">
            <img src="images/img-home-banner.jpg" alt="img-home-banner">
                </div>
        </ul>
    </header>
    <main>
        <div class="Ultima visita">
            <ul>
                <li>Sección: Basado en tu última visita</li>
                    <ul>
                        <li>
                            <article>
                                <ul>
                                    <li><img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></li>
                                    <li class="articulo-camion"><i class="fa-solid fa-truck"></i></li>
                                    <li class="precio">$6.770</li>
                                    <li class="descuentos">40% OFF</li>
                                    <li class="titulo">Cafetera Moulinex</li>
                                </ul>
                            </article>
                        </li>
                        <li> 
                            <article>
                                <ul>
                                    <li><img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></li>
                                    <li class="articulo-camion"><i class="fa-solid fa-truck"></i></li>
                                    <li class="precio">$230.000</li>
                                    <li class="descuentos">20% off</li>
                                    <li class="titulo">MacBook Pro 2019</li>
                                </ul>
                            </article>
                        </li>
                        <li>
                            <article>
                                <ul>
                                    <li><img src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy"></li>
                                    <li class="articulo-camion"><i class="fa-solid fa-truck"></i></li>
                                    <li class="precio">$70.500</li>
                                    <li class="descuentos">10% off</li>
                                    <li class="titulo">Samsung Galaxy S10</li>
                                </ul>
                            </article>
                        </li>
                        <li>
                            <article>
                                <ul>
                                    <li><img src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv"></li>
                                    <li class="articulo-camion"><i class="fa-solid fa-truck"></i></li>
                                    <li class="precio">$23.200</li>
                                    <li class="descuentos">5% off</li>
                                    <li class="titulo">SmartTv Samsung 43"</li>
                                </ul>
                            </article>
                        </li>
                    </ul>
        </div>
            <li>Sección de Ofertas</li>
                <ul>
                    <li>
                        <article>
                            <ul>
                                <li><img src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera"></li>
                                <li class="articulo-camion"><i class="fa-solid fa-truck"></i></li>
                                <li class="precio">$6.770</li>
                                <li class="descuentos">40% off</li>
                                <li class="titulo">Cafetera Moulinex</li>
                            </ul>
                        </article>
                    </li>
                    <li>
                        <article>
                            <ul>
                                <li><img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook"></li>
                                <li class="articulo-camion"><i class="fa-solid fa-truck"></i></li>
                                <li class="precio">$230.000</li>
                                <li class="descuentos">20% off</li>
                                <li class="titulo">MacBook Pro 2019</li>
                            </ul>
                        </article>
                    </li>
                    <li>
                        <article>
                            <ul>
                                <li><img src="images/img-samsung-galaxy-s10.jpg" alt="imagen Samsung"></li>
                                <li class="articulo-camion"><i class="fa-solid fa-truck"></i></li>
                                <li class="precio">$70.500</li>
                                <li class="descuentos">10% off</li>
                                <li class="titulo">Samsung Galaxy S10</li>
                            </ul>
                        </article>
                    </li>
                    <li>
                        <article>
                            <ul>
                            <li><img src="images/img-tv-samsung-smart.jpg" alt="imagen SmarTv"></li>
                            <li class="articulo-camion"><i class="fa-solid fa-truck"></i></li>
                            <li class="precio">$23.200</li>
                            <li class="descuentos">5% off</li>
                            <li class="titulo">SmartTv Samsung 43"</li>
                            </ul>
                        </article>
                    </li>
                </ul>
        </ul>
    </main>
    <!--FOOTER-->
    <footer>
        <div class="footer">
            <ul>
                <li class="footer-icons"><i class="fa-solid fa-credit-card"></i></li>
                <li class="footer-titulo">Pagá con tarjeta o en efectivo</li>
                <li class="footer-descripcion">Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</li>
                <li class="footer-icons"><i class="fa-solid fa-gift"></i></li>
                <li class="footer-titulo">Envío gratis desde $ 2.500</li>
                <li class="footer-descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</li>
                <li class="footer-icons"><i class="fa-solid fa-user-shield"></i></li>
                <li class="footer-titulo">Seguridad, de principio a fin</li>
                <li class="footer-descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</li>
                <li class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
            </ul>
        </div>
        
    </footer>

</body>
</html>